body {
    font-family: $FontFamilyText;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    margin-bottom: 15rem;

}