$socialNetwork: (
    facebook: #3b5998,
    twitter: #00acee,
    google: #ffffff,
    instagram: #833AB4,
    linkedin: #0072b1,
);

@each $red, $color in $socialNetwork {
    .boton#{$red}{
        color:$color;
    }
}