$BackGroundColor-1:rgb(17, 45, 78);
$BackGroundColor-2:white;
$FontFamilyTitle:'Roboto',sans-serif;
$FontFamilyText: 'Montserrat',sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,500;1,500&display=swap');
/*font-family: 'Montserrat', sans-serif; font-family: 'Roboto', sans-serif;*/