/*------==== DEFININICION DE VARIABLES ====------*/
@import "./variables";
@import "./mixin";
@import "./maps";
/*------==== FIN DE DEFININICION DE VARIABLES ====------*/
@import "./reset";

@import "./body";

.title {
    font-family: $FontFamilyTitle;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    
}

/*-----HEADER-NAV-----*/

.navbar {
    background-color: $BackGroundColor-1;
    width: 100%;
    top: 0;
    left: 0;

    .imgLogo {
        height: 9rem;
        margin-left: 4rem;
    }

    .nav-item {
        list-style: none;
        font-size: 1.8rem;
        margin: 0 1rem;
        line-height: 8rem;
        text-transform: uppercase;
        width: max-content;

        .navbar-link {
            font-family: $FontFamilyText;
            color: $BackGroundColor-2;
            text-decoration: none;
            padding: .8rem 1.2rem;
            border-radius: 6rem;
            transition: 250ms ease-in-out;
        }

        .navbar-link:hover {
            color: $BackGroundColor-2;
            border-bottom: solid .5rem greenyellow;
        }
    }
}

/*-----FOOTER-----*/
footer {
    background-color: $BackGroundColor-1;
    @each $name,
    $color in $socialNetwork {
        .boton#{$name}:hover {
            color: $color;
        }
    }
 
}



/*-----INDEX-NOSOTROS-----*/

.containerBorder {
    @include borderBox();
}

.containerSection {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    margin-bottom: 11rem;
    grid-template-columns: 65rem 45rem;
    grid-template-rows: repeat (2 50rem);
    grid-template-areas: "containerText container1"
        "containerText container2";
    margin-left: auto;
    margin-right: auto;

    .containerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-color: $BackGroundColor-1;
        font-size: 1.8rem;
        color: $BackGroundColor-2;
        grid-area: containerText;
        padding: 2rem;

    }

    .container1 {
        display: flex;
        justify-content: center;
        grid-area: container1;
    }

    .container2 {
        background-color: $BackGroundColor-2 !important;
        grid-area: container2;
    }
}

.paragraph {
    line-height: 3rem;
}

/*-----PRODUCTOS-----*/

.sectionProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
}

.containerProduct {
    background-color: $BackGroundColor-1;
    font-size: 1.8rem;
    color: $BackGroundColor-2;
    gap: 2rem;
    padding: 2rem;
    width: 100rem;
    height: 55rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 2fr;
    grid-template-areas: "description description description"
        "productA productB productC";
    gap: 2rem;
}


.product {
    margin: auto;
    position: relative;
    width: 20rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 50);
    align-items: center;
    cursor: pointer;
}

.product>.imgType {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.containerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    grid-area: description;
}

.containerDocument {
    grid-area: productA;
    
}

.containerBluePrint {
    grid-area: productB;
    
}

.containerBooks {
    grid-area: productC;
    
}

.layerDescription {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 133, 0.6);
    transition: all 500ms ease-out;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.product:hover {
    @include effectHover;
}

.product:hover>.layerDescription {
    opacity: 1;
    visibility: visible;
}

.linkProduct {
    text-decoration: none !important;
}

.product:hover>.layerDescription>.linkProduct h3 {
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.linkProduct>h3 {
    color: #fff;
    font-weight: 120px;
    font-size: x-large;
    margin-top: 3rem;
    margin-bottom: 12rem;
    transition: all 500ms ease-out;
    text-decoration: none;
}

.linkProduct>p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    max-width: 22rem;
    margin: auto;
    gap: 1rem;
}

.product {
    width: 20rem;
    height: 25rem;
}

.linkProduct>h3 {
    margin-top: 1rem;
}

.product:hover>.layerDescription>.linkProduct h3 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/*-----PRODUCTOS LISTAS DE ESCANERES-----*/

.containerScannerType {
    margin-top: 15rem;
    padding: 2rem;
    background-color: $BackGroundColor-1;
    font-size: 1.8rem;
    color: $BackGroundColor-2;
    min-width: 40rem;

    .containerScanners {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .card:hover {
        @include effectHover;
    }

    .btnCard {
        @include basicBttn;

        &:hover {
            @include hoverButton;
            box-shadow: none;
            border: none;
            transform: scale(0.95);
        }
    }
}

.btnSpecial {
    @include bttnSpecial;

    &:hover {
        @include hoverButton;

    }
}

/*----- CARD MODAL -----*/

.modal-body {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 30rem auto;
    grid-template-areas: "itemModal-1 itemModal-2"
        "itemModal-3 itemModal-3";
    gap: 1rem;
    height: fit-content;

    .itemModal-1 {
        grid-area: itemModal-1;
    }

    .itemModal-2 {
        grid-area: itemModal-2;
        height: 100%;
        width: 100%;
    }

    .itemModal-3 {
        grid-area: itemModal-3;
        height: 100%;
        width: 100%;
    }

}

/*-----SERVICIOS-----*/

.continerServicios {
    display: flex;
    justify-content: center;
    height: 140vh;

    .containerTextService {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15rem;
        margin-bottom: 5rem;
        width: 87%;
        height: max-content;
        background-color: $BackGroundColor-1;
        font-size: 1.8rem;
        color: $BackGroundColor-2;
        gap: 2rem;
        padding: 3rem;
        line-height: 3.5rem;
        animation: fadeIn;
        animation-duration: 5s;
    }
}

/*------Contacto-----*/
.mainForm {
    display: flex;
    justify-content: center;
    align-items: center;

    .sectionForm {
        margin-top: 15rem;
        margin-bottom: 2rem;
        background-color: $BackGroundColor-1;
        font-size: 1.8rem;
        color: $BackGroundColor-2;
        width: 80rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 10rem 50rem;
        grid-template-areas: "title info"
            "form info";

        .titleForm {
            height: 5rem;
            padding: 2rem;

            grid-area: title;
        }

        .containerForm {
            margin-top: 3rem;
            grid-area: form;

            .formContact {
                display: grid;
                padding: 2rem;
                gap: 2rem;
                justify-content: space-evenly;
                align-content: center;
                grid-template-columns: 2fr 2fr;
                grid-template-rows: repeat(6 1fr);
                grid-template-areas: "fullname email"
                    "phone subject"
                    "message message"
                    "message message"
                    "button button";

                .itemFullName {
                    grid-area: fullname;
                }

                .itemEmail {
                    grid-area: email;
                }

                .itemPhone {
                    grid-area: phone;
                }

                .itemSubject {
                    grid-area: subject;
                }

                .itemMessage {
                    grid-area: message;
                }

                .formItem input,
                .formItem textarea {
                    width: 100%;
                    padding: 1rem;
                    background: none;
                    outline: none;
                    color: $BackGroundColor-2;
                    border: none;
                    border-radius: 1rem;
                    box-shadow: 0 0.25rem greenyellow;
                }

                .bttnEnviar {
                    @include bttnSpecial;
                }

                .bttnEnviar:hover,
                .bttnEnviar:focus {
                    background-color: greenyellow;
                    color: $BackGroundColor-1;
                    border-right: solid 0.5rem rgb(43, 247, 247);
                    border-bottom: solid 0.5rem rgb(43, 247, 247);
                    border-radius: 1rem;
                    letter-spacing: .2rem;
                    box-shadow: .5rem .75rem 2rem rgb(43, 247, 247);
                    transform: scale(1.04);
                }
            }
        }

        .containerInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 1rem;
            gap: 2rem;
            font-size: 1.5rem;
            background-color: rgb(30, 66, 106);
            grid-area: info;

            .containerInfo ul {
                gap: 0.5rem;
            }

            .containerInfo ul li {
                padding: 0.5rem;
            }

            .moreInfo {
                list-style: none !important;
                gap: 1rem;
            }
        }
    }
}

@media (max-widtH:992PX) {
    .modal-body {
        display: flex;
        flex-direction: column !important;
    }

    .containerSection {
        grid-template-columns: 45rem 40rem;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .itemModal-1,
        .itemModal-2 {
            max-width: 30rem;
            min-height: 30rem;
        }
    }
}

@media (max-width:768px) {
    body {
        padding-top: 7rem;
        margin-bottom: 30rem;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 1.5rem;
    }

    .containerSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
    }

    .sectionForm {
        margin-top: 7.5rem;
        display: flex !important;
        flex-direction: column !important;
        gap: 3.7rem;

        .containerForm {
            margin-top: 5rem;
        }
    }

    .continerServicios {
        height: 145vh;

        .containerTextService {
            margin-top: 10rem;
        }
    }

    .containerProduct {
        margin-top: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100rem;
        gap: 1rem;

        .product {
            margin: 1rem;
            width: 43rem;
            height: 20rem;
        }
    }

    .productModal {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:576px) {
    .containerProduct {
        gap: 4rem;

        .product {
            width: 40rem;
        }
    }

    .continerServicios {
        height: 165vh;

        .containerTextService {
            margin-top: 6.5rem;
        }
    }

}

@media (max-width:450px) {
    .continerServicios {
        height: 195vh;
    }

    .containerProduct .product {
        margin: 1rem;
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width:380px) {
    .continerServicios {
        height: 250vh;
    }
}